body{
    background: url('../login/images_login/wallpaper.jpeg');
    background-size: cover ;
    background-position -y: 80px;
}
.login-box{
    background: url('../login/images_login/login.jpeg');
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.9);
    width: 900px;
    height: 600px;

}