body{
    background: url('../login/images_login/wallpaper.jpeg');
    align-items: center;
    justify-content: center;
    display: flex;
}
.login-container{
    width: 100%;
    max-width: 1000px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    overflow: hidden;

}
.login-box{
    background: rgb(107, 139, 234);
    height: 60%;
    width: 40%;
    margin: auto;
    line-height: 1.5;
    box-sizing: border-box;

}
.loginForm{
    width: 900px;
    height: 8000px;
    background-color: rgb(178, 178, 198);
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}